.container{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      min-height:100vh;
      flex-wrap: wrap;
      overflow: hidden;
    }
    .container .box{
      width: 300px;
      padding: 10px;
      border-radius: 20px;
      border: 2px solid black;
      display: flex;
      justify-items: center;
      align-items: center;
      flex-direction: column;
      background-color: bisque;
    }
    .container .box .img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid rgb(0, 0, 0);
    }
    .container .box .imgIcon{
      background-size: contain;
      width: 80px;
      height: 80px;
    }